<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link  href="../public/css/css.css"/>
</head>
<body>
    <h1>Landing Page</h1>
    <div>
        <form class="container-login">
            <input name="email" type="email" value="" placeholder="Enter Email" required />
            <input name="password" type="text" value="" placeholder="Enter Password" required />
            <button type="submit">LOGIN</button>
            <a href="">RESIT PASSWORD</a>
        </form>
    </div>
</body>
</html>